<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SurveyMode" value="pre" />
    <!--pre/post-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!--<add name="SocialInfluenceEntities" connectionString="metadata=res://*/SIModel.csdl|res://*/SIModel.ssdl|res://*/SIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=130.226.33.207;initial catalog=SocialInfluence;user id=ab;password=nexttell;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
     <add name="SocialInfluenceEntities" connectionString="metadata=res://*/SIModel.csdl|res://*/SIModel.ssdl|res://*/SIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SocialInfluence;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff2"/>-->
    </staticContent>
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>